.heading-primary {
  font-family: var(--font-secondary);
  font-size: max(18px, 2.8rem);
  font-weight: 400;
  color: var(--color-white);
  line-height: 1.6;
  text-transform: uppercase;
  animation: moveInLeft 1.5s ease-in-out;
}

.heading-secondary {
}

.heading__tertiary {
}

.paragraph {
}
