///////////////////////////////////////////////////////////////////////////
//  IMAGE RENDERING

@supports ((image-rendering: -webkit-optimize-contrast)) {
  .u-image-rend__opt-contr {
    image-rendering: -webkit-optimize-contrast;
  }

  .u-imagerend__smooth {
    image-rendering: smooth;
  }

  .u-imagerend__pixelated {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
  }
}
