:root {
  // ------ COLORS ------

  --color-primary: #7ed56f;
  --color-secondary: #ffb900;
  --color-tertiary: #2998ff;

  --color-link: #288;
  --color-link-hover: rgb(31, 88, 88);

  --color-white: #fff;
  --color-black: #000;

  // ------ FONTS ------
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Belgrano", sans-serif;

  // ------ DIMENSIONS ------
}
