:root {
  // ------ COLORS ------

  --color-primary: #7ed56f;
  --color-secondary: #ffb900;
  --color-tertiary: #2998ff;

  --color-white: #fff;
  --color-black: #000;



  // ------ DIMENSIONS ------
}
