:root {
  // ------ COLORS ------

  --color-primary: #7ed56f;
  --color-secondary: #ffb900;
  --color-tertiary: #2998ff;

  --color-white: #fff;
  --color-black: #000;

  // ------ FONTS ------
  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Belgrano", sans-serif;

  // ------ DIMENSIONS ------
  --nav-height-600: 40px;
}
