.btn {
  &,
  &:link,
  &:visited {
    font-family: var(--font-secondary);
    font-size: max(12px, 1.4rem);
    font-weight: 600;

    display: inline-block;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    text-decoration: none;

    color: var(--color-white);
    border: 5px solid var(--color-pink-light);
    background-color: var(--color-pink);
    z-index: 20;
    transition: all 0.2s;

    cursor: pointer;
  }

  &:hover,
  &:focus {
    color: var(--color-purple);
    background-color: #fff;
  }

  &--primary {
    &:link,
    &:visited {
      padding: 0.5rem 2rem;
    }
  }

  &--secondary {
    &:link,
    &:visited {
      font-size: 1.6rem;
      padding: 1.5rem 2.5rem;
      text-align: center;
    }
  }

  &--outlined {
    &:link,
    &:visited {
      text-align: center;
      color: var(--color-pink);
      padding: 0.5rem 2.5rem;
      background-color: transparent;
      border: 2px solid currentColor;
    }

    &:hover,
    &:focus {
      color: var(--color-purple);
      background-color: #fff;
    }
  }
}
