.footer {
  font-size: max(12px, 1.4rem);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 110px;

  color: var(--color-white);
  padding: 4rem 15rem;
  background-color: var(--color-purple);
  border-top: 1rem solid var(--color-purple-light);
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    // background-image: url("../img/footer-bg.svg");
    background-position: center;
  }

  &__inner {
    padding: 20px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 4rem;

    @media screen and (max-width: 1100px) {
      padding: 20px 15px 15px;
    }

    @include responsive(tab-port) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__logo-container {
    flex: 0 1 50%;
  }

  &__logo {
  }

  &__info {
    font-size: 14px;
    flex: 1;
    line-height: 1.5;

    &-copyright {
      margin-top: 1rem;
    }
  }
}
