.nav {
  font-size: 1.2rem;
  border-bottom: 10px solid var(--color-purple-light);
  position: relative;
  z-index: 999;
  background-color: #fff;

  @media (max-width: 75em) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    max-width: var(--content-max-width-1200);
    height: var(--responsive-nav-height);
    max-height: var(--responsive-nav-height);
    margin: auto;

    font-family: "brandon-grotesque", sans-serif;
    color: var(--color-purple);
    font-weight: 400;

    @include responsive(tab-port) {
    }

    @include responsive(mobile) {
    }
  }

  &__item {
    text-align: center;
    margin-right: 2rem;
    height: 100%;

    &:nth-last-child(2) {
      position: relative;
      padding-left: 3rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        width: 2px;
        background-color: var(--color-pink);
      }
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    font-weight: 600;
    transform: translateY(-50%);

    transition: all 0.3s ease;

    @media only screen and (max-width: 87.5em) {
      top: 30%;
      transform: translateY(0);
    }

    &::before {
      content: "";
      position: absolute;
      top: -3.4rem;
      left: 0;
      width: 0;
      height: 100%;
      border-radius: 0.2rem;
      border-top: 1.6rem solid transparent;

      transition: all 0.3s;
    }

    &:hover::before,
    &:focus::before,
    &.active::before {
      border-top: 1.6rem solid #f67d0f;
      width: 100%;
    }

    &:active {
      background-color: none;
    }

    &:hover {
      color: var(--color-black);
    }
  }

  &__mobile-icon {
    display: flex;
    align-items: center;
    cursor: pointer;

    height: var(--responsive-nav-height);
    color: var(--color-pink);

    // Whenever we're using a device that can hover. Desktop/laptop
    @media only screen and (hover: hover) {
      &:hover,
      &.active {
        color: var(--color-pink-light);
      }
    }

    &--text {
      font-size: 1.5rem;
      color: currentColor;
      font-weight: 600;
      text-transform: uppercase;
    }

    &--icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 0.5rem;

      height: 5.5rem;
      width: 6rem;
      margin-left: 1.5rem;
      cursor: pointer;

      & > *:not(:last-child) {
        margin-bottom: 4px;
      }

      span {
        display: inline-block;

        width: 3rem;
        height: 3px;
        background-color: currentColor;
        border-radius: 100rem;

        transition: all 0.3s;
      }
    }

    &.active {
      color: var(--color-pink-light);

      &--text {
      }

      span:nth-child(1) {
        transform: rotate(135deg) translate(4px, -4px);
      }

      span:nth-child(2) {
        margin: 0;
        opacity: 0;
        transform: translateX(2rem);
      }

      span:nth-child(3) {
        transform: rotate(-135deg) translate(3.5px, 4px);
      }
    }
  }
}
