.nav {
  position: relative;
  font-size: max(12px, 1.4rem);
  z-index: 999;
  background-color: var(--color-primary);

  @include responsive(mobile) {
    min-height: var(--nav-height-600);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: auto;
    max-width: 1200px;
    padding: 0 2.5rem;

    font-family: var(--font-primary);
    font-size: 1.6rem;
    color: var(--color-secondary);
    font-weight: 400;

    @include responsive(mobile) {
      display: unset;
      text-align: center;
      padding: 2rem 4rem;

      background-color: var(--color-primary);
      box-shadow: 0 2rem 2rem rgb(0 0 0 / 20%);

      width: max-content;
      min-width: 100%;
      z-index: 40;
      max-height: 0;
      visibility: hidden;
      transition: all 0.5s;
      position: absolute;
      top: 100%;
      right: 0;
      overflow: hidden;

      max-height: 0;
      overflow: hidden;
      visibility: hidden;
      transition: all 0.5s ease-out;
      backface-visibility: hidden;

      &.active {
        max-height: 70vh;
        visibility: visible;
      }
    }
  }

  &__item {
    color: #fff;
    padding: 2rem 0;

    @include responsive(mobile) {
      padding: 1rem;
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;

    &:hover,
    &:focus,
    &[aria-current="page"] {
      color: var(--color-secondary);
    }
  }

  // ----- MOBILE ICON -----
  &__mobile-icon {
    display: none;
    margin-left: auto;
    cursor: pointer;

    color: var(--color-secondary);

    @include responsive(mobile) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &:hover,
    &:focus {
      color: var(--color-tertiary);
    }

    &--text {
      font-size: 1.5rem;
      color: currentColor;
      font-weight: 600;
      text-transform: uppercase;
    }

    &--icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border-radius: 0.5rem;

      height: 5.5rem;
      width: 6rem;
      margin-left: 1.5rem;
      cursor: pointer;

      & > *:not(:last-child) {
        margin-bottom: 4px;
      }

      span {
        display: inline-block;

        width: 3rem;
        height: 3px;
        background-color: currentColor;
        border-radius: 100rem;

        transition: all 0.3s;
      }
    }

    &.active {
      color: #fff;

      &--text {
      }

      span:nth-child(1) {
        transform: rotate(135deg) translate(4px, -4px);
      }

      span:nth-child(2) {
        margin: 0;
        opacity: 0;
        transform: translateX(2rem);
      }

      span:nth-child(3) {
        transform: rotate(-135deg) translate(3.5px, 4px);
      }
    }
  }
}
