.nav {
  font-size: 1.2rem;
  border-bottom: 10px solid var(--color-purple-light);
  position: relative;
  z-index: 999;
  background-color: #fff;

  @media (max-width: 75em) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 1rem;
    max-width: var(--content-max-width-1200);
    height: var(--responsive-nav-height);
    max-height: var(--responsive-nav-height);
    margin: auto;

    font-family: "brandon-grotesque", sans-serif;
    color: var(--color-purple);
    font-weight: 400;

    // 1400px
    @media only screen and (max-width: 87.5em) {
    }

    @include responsive(tab-port) {
    }

    @include responsive(mobile) {
    }
  }

  &__item {
    text-align: center;
    margin-right: 2rem;
    height: 100%;

    &:nth-last-child(2) {
      position: relative;
      padding-left: 3rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        width: 2px;
        background-color: var(--color-pink);
      }
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    font-weight: 600;
    transform: translateY(-50%);

    transition: all 0.3s ease;

    @media only screen and (max-width: 87.5em) {
      top: 30%;
      transform: translateY(0);
    }

    &::before {
      content: "";
      position: absolute;
      top: -3.4rem;
      left: 0;
      width: 0;
      height: 100%;
      border-radius: 0.2rem;
      border-top: 1.6rem solid transparent;

      transition: all 0.3s;
    }

    &:hover::before,
    &:focus::before,
    &.active::before {
      border-top: 1.6rem solid #f67d0f;
      width: 100%;
    }

    &:active {
      background-color: none;
    }

    &:hover {
      color: var(--color-black);
    }
  }

  //////////////////////////////////////////////////////////////////////////
  // NAV-RESPONSIVE
  &__responsive {
    max-height: var(--responsive-nav-height);

    display: none;
    position: relative;
    padding-right: 4rem;
    z-index: 999;
    background-color: #fff;
    // background-color: var(--color-blue);

    // 1800px
    @media (max-width: 75em) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0 var(--padding-lr);
      max-width: var(--content-max-width-1200);
      margin: auto;
    }

    // 1400px
    @media only screen and (max-width: 87.5em) {
      padding: 0 var(--padding-lr-1400);
    }

    @include responsive(tab-port) {
      padding: 0 var(--padding-lr-900);
    }

    // 600px
    @include responsive(mobile) {
      padding: 0 var(--padding-lr-600);
    }

    &-logo-container {
    }

    &-logo {
      height: 7rem;
    }

    &-menu-button {
      display: flex;
      align-items: center;
      cursor: pointer;

      height: var(--responsive-nav-height);
      color: var(--color-pink);

      // Whenever we're using a device that can hover. Desktop/laptop
      @media only screen and (hover: hover) {
        &:hover,
        &.active {
          color: var(--color-pink-light);
        }
      }

      &.active {
        color: var(--color-pink-light);

        span:nth-child(1) {
          transform: rotate(135deg) translate(4px, -4px);
        }

        span:nth-child(2) {
          margin: 0;
          opacity: 0;
          transform: translateX(2rem);
        }

        span:nth-child(3) {
          transform: rotate(-135deg) translate(3.5px, 4px);
        }

        &-list {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }
      }

      &--icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 0.5rem;

        height: 5.5rem;
        width: 6rem;
        margin-left: 1.5rem;
        cursor: pointer;

        & > *:not(:last-child) {
          margin-bottom: 4px;
        }

        span {
          display: inline-block;

          width: 3rem;
          height: 3px;
          background-color: currentColor;
          border-radius: 100rem;

          transition: all 0.3s;
        }
      }

      &--text {
        font-size: 1.5rem;
        color: currentColor;
        font-weight: 600;
        text-transform: uppercase;

        &.active {
          color: var(--color-yellow);
        }
      }
    }

    &-list {
      font-family: "brandon-grotesque", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;

      display: flex;
      flex-direction: column;
      align-items: center;

      position: absolute;
      top: var(--responsive-nav-height);
      left: 0;
      width: 100%;
      list-style: none;
      padding: 2rem 4rem;
      z-index: 40;

      color: #282560;
      background-color: #ffffff;
      border-bottom: 8px solid #7b74b3;
      box-shadow: 0 2rem 2rem rgb(0 0 0 / 20%);

      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease-out;

      &.active {
        height: auto;
        opacity: 1;
        visibility: visible;
      }

      .btn {
        font-size: inherit;
      }

      & > *:last-child {
        &:hover::after,
        &:focus::after,
        &.active::after {
          border-bottom: unset;
          width: 0;
        }
      }
    }

    &-item {
      padding: 2rem 0;
      border-bottom: 2px solid var(--color-orange-dark);
      transition: all 0.5s;
      position: relative;
      width: fit-content;
      // text-align: center;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;

        height: 88%;

        border-bottom: 4px solid transparent;
        pointer-events: none;

        transition: all 0.5s;
      }

      &:hover::after,
      &:focus::after,
      &.active::after {
        border-bottom: 4px solid #f67d0f;
        width: 100%;
      }
    }

    &-link {
      display: block;
      color: inherit;

      text-decoration: none;
      opacity: 0;
      transition: all 0.5s;
    }
  }
}
